body{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#contenedor{
    width: 490px;
    height: 115px;
    background-color:white;
    border-color: rgb(209, 58, 58);
    border: 1px solid;
    padding: 2px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
}

#caja_p1{
    text-align: left;
    display: flex;
    margin: 1px;
    color: black;
}

.caja1{
    background-color: red;
    width: 120px;
    height: 25px;
    margin: 1px;
    display: flex;
    align-items: center;
}
.caja4{
    background-color: white;
    width: 120px;
    height: 25px;
    margin: 1px;
    display: flex;
    align-items: center;
}

.caja8{
    background-color: green;
    width: 120px;
    height: 25px;
    margin: 1px;
    display: flex;
    align-items: center;
}

.caja11{
    background-color: gray;
    width: 120px;
    height: 25px;
    margin: 1px;
    display: flex;
    align-items: center;
}

#caja_p2{
    text-align: left;
    display: flex;
    margin: 1px;
    color: black;
    
}

.caja2{
    background-color:saddlebrown;
    width: 120px;
    margin: 1px;
    display: flex;
    align-items: center;
}

.caja5{
    background-color:blue;
    width: 120px;
    height: 25px;
    margin: 1px;
    display: flex;
    align-items: center;
}

.caja6{
    background-color: pink;
    width: 120px;
    height: 25px;
    margin: 1px;
    margin-top: 2px;
    display: flex;
    align-items: center;
}
.caja9{
    background-color: violet;
    width: 242px;
    height: 25px;
    margin: 1px;
    display: flex;
    align-items: center;
}

#caja_p3{
    text-align: left;
    display: flex;
    margin: 1px;
    color: black;
    
}

.caja3{
    background-color: orange;
    width: 120px;
    height: 25px;
    margin: 1px;
    display: flex;
    align-items: center;
}

.caja7{
    background-color: purple;
    width: 120px;
    height: 25px;
    margin: 1px;
    display: flex;
    align-items: center;
}

.caja10{
    background-color: yellow;
    width: 120px;
    height: 53px;
    margin: 1px;
    margin-top: -27px;
    display: flex;
    align-items: center;
}
.caja12{
    background-color: turquoise;
    width: 120px;
    height: 26px;
    margin: 1px;
    margin-top: -27px;
    display: flex;
    align-items: center;
}

.caja13{
    background-color: black;
    width: 120px;
    height: 25px;
    margin: 1px;
    margin-top: 2px;
    color: white;
    display: flex;
    align-items: center;
}