body{
    background-color: darkorange;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.portafolio{
    text-align: center;
    align-items: center;
}

.img1{
    margin-right: 10px;
}

.sobre_mi{
    color:rgb(255, 255, 255);
}

.pag2, .pag3, .pag4{
    display: none;
}

.container_hab{
    display: flex;
    grid-template-columns: 1fr auto;
    border-radius: 10px;
    padding: 50px;
    margin-top : 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: darkred;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;

}

.detalles{
    display: none;   
    border-radius: 8px;
    position:absolute;
    top: 70%;
    left: 15%;
    z-index: 2;
}

.container_listado{
    background-color: darkred;
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin-top : 20px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

.container_form_1{
    grid-template-columns: 1fr auto;
    border-radius: 10px;
    padding: 20px;
    margin-top : 60px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    background-color: darkred;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    color: white;
}

.container_form_2{
    background-color: darkorange;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

#contactar{
    margin: 20px 10px;
    color: darkblue;
    font-size: 20px;
}

#contactanos{
    display: grid;
    grid-template-columns: 1fr auto;
    border-radius: 10px;
    padding: 5px;
    margin-top : 20px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    background-color: darkred;
    align-items: center;
    text-align: center;
}

.caja_1{
    color: white;
    background-color:darkslategray;
    border-radius: 10px;
    padding: 5px;
}

#buttom_enviar{
    border-radius: 10px;
    width: auto;
    height: auto;
}

#buttom_enviar:hover{
    background-color: brown;
    color:cornsilk;
    border-color: chartreuse;
}